/*Mobile Grid*/
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.statement {
    grid-column: 1/2;
    grid-row: 1;
}

header {
    grid-column: 1/2;
    grid-row: 2;
}

.product {
    grid-column: 1/2;
    grid-row: 3;
}

.burn {
    grid-column: 1/2;
    grid-row: 4;
}

.quality {
    grid-column: 1/2;
    grid-row: 5;
}

.otherInfo {
    grid-column: 1/2;
    grid-row: 6;
}

/*Desktop Grid*/
@media only screen and (min-width: 900px) {
    main {
        grid-template-columns: repeat(12, 1fr);
    }

    .statement {
        grid-column: span 12;
        grid-row: 1;
    }

    header {
        grid-column: span 12;
        grid-row: 2;
    }

    .product {
        grid-column: 1/13;
        grid-row: 3/4;
    }

    .burn {
        grid-column: 1/7;
        grid-row: 5;
    }

    .quality {
        grid-column: 7/13;
        grid-row: 5;
    }
    .otherInfo {
        grid-column: 1/13;
        grid-row: 6;
    }
  }