/*Font Import*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/*Variables*/
body {
  margin: 0;
  background-color: #E6E6E6;
  width: 100%;
}

.product, .burn, .quality, .otherInfo {
  padding: 0 15px;
}

h1, h2, th {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: lighter;
}

header {
  max-width: 100%;
  color: #FFFFFF;
  background-color: #36813E;
  font-weight: 100;
  text-align: center;
  font-size: 22px;
}

/*Styling for the product section of the page*/
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 550px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: linear-gradient(34deg, #b81376 32%, #ff91d7 100%);
  -webkit-box-shadow: 0px 28px 3px -24px #000000;
          box-shadow: 0px 28px 3px -24px #000000;
  /*
    * Styling of the image, floating left
    * and setting a custom width and height
    */
  /*
    * Styling for the form on the product section 
    */
}

.product img {
  float: left;
  width: 175px;
  height: 233px;
  border: 2px solid #000000;
  -webkit-box-shadow: 6px 5px 9px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 5px 9px 0px rgba(0, 0, 0, 0.25);
}

.product form {
  float: right;
  /*Changing the colour of text on a disabled option*/
  /*
        * Styling of the button, including hover and focus states
        */
}

.product form select, .product form input {
  background-color: #36813E;
  font-family: "Times New Roman", serif;
  color: #FFFFFF;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 10px 20px;
}

.product form option:disabled {
  color: #7b0000;
}

.product form input {
  background-color: #53B4CA;
  color: #000000;
  border-radius: 10px;
  border: 2px solid #000000;
}

.product form input:hover {
  background-color: #3B97AB;
}

.product form input:focus {
  background-color: #2C7181;
}

/*Styling for the burn section of the website*/
.burn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 28px 3px -24px #000000;
          box-shadow: 0px 28px 3px -24px #000000;
  height: 350px;
}

.burn img {
  float: left;
  width: 175px;
  height: 233px;
  border: 2px solid #000000;
  margin: auto 0;
  -webkit-box-shadow: 6px 5px 9px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 5px 9px 0px rgba(0, 0, 0, 0.25);
}

.burn p {
  float: right;
  font-family: "Dancing Script", cursive;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 10px;
  font-size: 22px;
}

.quality {
  text-align: center;
  -webkit-box-shadow: 0px 28px 3px -24px #000000;
          box-shadow: 0px 28px 3px -24px #000000;
}

.quality p {
  font-family: "Dancing Script", cursive;
  padding: 10px 15%;
}

.quality img {
  text-align: center;
  padding: 20px 10px;
}

.otherInfo {
  margin-bottom: 25px;
}

.otherInfo table {
  background-color: #36813E;
  border: 1px solid #000000;
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}

.otherInfo table th, .otherInfo table td {
  width: 150px;
  height: 30px;
  border: 1px solid black;
}

.statement {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  background-color: #FF2323;
  color: #FFFFFF;
  border: 2px solid #000000;
}

@media only screen and (min-width: 900px) {
  /*Desktop Specific Styling*/
  .product {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .product img {
    width: 300px;
    height: 400px;
  }
  .product form select, .product form input {
    display: block;
    width: 350px;
    height: 50px;
    margin-top: 50px;
    font-size: 18px;
  }
  .burn {
    border-right: 3px solid #000000;
    height: auto;
  }
  .burn img {
    width: 250px;
    height: 333px;
  }
  .burn p {
    font-size: 24px;
  }
  .quality h2 {
    font-size: 28px;
  }
  .quality p {
    font-size: 24px;
  }
  .burn, .quality {
    margin: 25px 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .otherInfo {
    border-top: #000000 solid 2px;
  }
}
/*# sourceMappingURL=style.css.map */