/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/*Variables*/
$primaryColour: #53B4CA;
$secondaryColour: #36813E;
$backgroundColour: #E6E6E6;
$hoverColour: #3B97AB;
$focusColour: #2C7181;
$specialFont: 'Dancing Script', cursive;
$mainfont: "Times New Roman", serif;

body {
    margin: 0;
    background-color: $backgroundColour;
    width: 100%;
}

.product, .burn, .quality, .otherInfo {
    padding: 0 15px;
}

h1, h2, th {
    font-family: $specialFont;
    text-align: center;
    font-weight: lighter;
}

header {
    max-width: 100%;
    color: #FFFFFF;
    background-color: $secondaryColour;
    font-weight: 100;
    text-align: center;
    font-size: 22px;
}

/*Styling for the product section of the page*/

.product {
    display: flex;
    height: 550px;
    align-items: center;
    text-align: center;
    background: linear-gradient(34deg, rgba(184,19,118,1) 32%, rgba(255,145,215,1) 100%);
    box-shadow: 0px 28px 3px -24px #000000;
    
    /*
    * Styling of the image, floating left
    * and setting a custom width and height
    */
    img {
        float: left;
        width: 175px;
        height: 233px;
        border: 2px solid #000000;
        box-shadow: 6px 5px 9px 0px rgba(0,0,0,0.25);
    }

    /*
    * Styling for the form on the product section 
    */
    form  {
        float: right;

        select, input {
            background-color: $secondaryColour;
            font-family: $mainfont;
            color: #FFFFFF;
            width: 150px;
            height: 40px;
            text-align: center;
            margin: 10px 20px;
        }

        /*Changing the colour of text on a disabled option*/
        option:disabled {
            color: #7b0000;
        }

        /*
        * Styling of the button, including hover and focus states
        */
        input {
            background-color: $primaryColour;
            color: #000000;
            border-radius: 10px;
            border: 2px solid #000000;
        }

        input:hover {
            background-color: $hoverColour;
        }

        input:focus {
            background-color: $focusColour;
        }
    }
}

/*Styling for the burn section of the website*/
.burn {
    display: flex;  
    box-shadow: 0px 28px 3px -24px #000000;
    height: 350px;
    img {
        float: left;
        width: 175px;
        height: 233px;
        border: 2px solid #000000;
        margin: auto 0;
        box-shadow: 6px 5px 9px 0px rgba(0,0,0,0.25);
    }
    p {
        float: right;
        font-family: $specialFont;
        align-self: center;
        padding-right: 10px;
        font-size: 22px;
    }
}

.quality {
    text-align: center;
    box-shadow: 0px 28px 3px -24px #000000;

    p {
        font-family: $specialFont;
        padding: 10px 15%;
    }
    
    img {
        text-align: center;
        padding: 20px 10px;
    }
}

.otherInfo {
    margin-bottom: 25px;
    table {
        background-color: $secondaryColour;
        border: 1px solid #000000;
        border-collapse: collapse;
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        color: #ffffff;

        th, td {
            width: 150px;
            height: 30px;
            border: 1px solid black;
        }
    }
}

.statement {
    //Font Styling
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: #FF2323;
    color: #FFFFFF;
    border: 2px solid #000000;
}

@media only screen and (min-width: 900px) {
/*Desktop Specific Styling*/
    .product {
        justify-content: space-evenly;

        img {
            width: 300px;
            height: 400px;
        }
        form {
            select, input {
                display: block;
                width: 350px;
                height: 50px;
                margin-top: 50px;
                font-size: 18px;
            }
        }
    }

    .burn {
        img {
            width: 250px;
            height: 333px;
        }
        border-right: 3px solid #000000;
        height: auto;
        p {
            font-size: 24px;
        }
    }

    .quality {
        h2 {
            font-size: 28px;
        }
        p {
            font-size: 24px;
        }
    }

    .burn, .quality {
        margin: 25px 0;
        box-shadow: none;
    }

    .otherInfo {
        border-top: #000000 solid 2px;
    }
}
